#Main{
background-image: linear-gradient(rgb(119, 33, 33), rgb(36, 22, 139));
margin-top: auto;
align-items: center;
color: white;
border: 100px;
}

html{
    background-image: linear-gradient(white, aliceblue, white);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    transition-duration: 1s;
    text-align: center;
}

h1:hover{
    transition-duration: 1s;
    font-size: 50px;
}

p{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

h6{
    text-align: center;
    font-size: 20px;
} 

button{
    color: aliceblue;
    font-family: sans-serif;
    background-color: rgb(119, 33, 33);
    align-items: center;
    size: 90px;
}

button:hover{
    size:92px;
}